/* Base */
html {
  font-family: 'PT Serif', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", Helvetica;
}

body,
a {
  color: #333333;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.embed-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.embed-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.container {
    overflow: hidden;
    padding: 1rem;
    max-width: 1440px;
    margin: 0 auto;
}

img {
  max-width: 100%;
}
.mfd__post-content a,
.mfd__blog-list a,
.mfd__blog-link,
.mfd-post__readmore-link {
  display: inline;
  text-decoration: none;
  border-bottom: 2px solid #ee2b71;
  padding: .4rem .2rem .2rem .2rem;
  transition: .5s ease-in-out
}
.mfd__post-content a:hover,
.mfd__blog-list a:hover,
.mfd__blog-link:hover ,
.mfd-post__readmore-link:hover {
  background-color: #ee2b71;
  color: #ffffff;
}
